* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1024px;
    margin: 0 auto;
    /* border: solid 2px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 580px;
    /* border: red solid 2px; */
    border-bottom: #ddd3d3 solid 2px;
    height: 111px;
    display: flex;
    margin-bottom: 20px;
}

.right-card {
    /* border: 2px green solid; */
    width: 60%;
    position: relative;
}

.left-card {
    /* border: orange 2px solid; */
    display: flex;
    margin-right: 10px;
    align-items: center;
}

h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-right: 10px;
}
h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
}

h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.test {
    position: absolute;
    left: 50px;
    top: 43px;

    color: #ff014b;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.m6 {
    height: 40px;
}

.head {
    /* border: 2px greenyellow solid; */
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 40px;
}

.text-m6 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}
